/* Обнуляючий стиль */

@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Atma:regular,500,700&display=swap);

.atma {
	font-family: "Atma";
	font-weight: 700;
	white-space: nowrap;
	text-align: justify;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 80px;
	height: 700px;
	overflow: hidden;
}

.green > p {
	color: green;
	font-style: italic;
	text-align: center;
	margin: 10px 20px 30px 40px;
	width: 200px;
	max-height: 500px;
}
.red {
	color: red;
	text-decoration: underline;
	text-shadow: 5 7 10 blue;
	text-transform: capitalize;
	padding: 10px 0px 20px 0px;
	margin: 50px 80px;
	max-width: 400px;
	min-height: 400px;
}
.pink {
	color: pink;
	line-height: 5;
	text-align: right;
	text-decoration: overline;
	margin-right: 50px;
	min-width: 350px;
}
h2 {
	font-weight: 900;
	margin: 2px 30px 50px;
	height: 50%;
}
h3 {
	font-weight: 700;
	margin: 40px;
}
.list {
	margin: 0px 20px 0px 50px;
	text-transform: lowercase;
	text-indent: 15px;
	word-spacing: 10px;
	width: 50%;
}
.block {
	margin: 50%;
	text-decoration: line-through;
	text-transform: uppercase;
}
.center {
	color: blue;
	margin: 0px auto;
	overflow: scroll;
}
.test {
	color: burlywood;
	margin: 50px auto 0px;
	overflow: auto;
}
.right {
	color: cadetblue;
	margin: 0 0 0 auto;
}
span {
	display: block;
	max-width: 500px;
}
.inline {
	color: chartreuse;
	display: inline;
}
.none {
	display: none;
}
.font {
	font-size: 0;
}
